h2 {
    color: white;
    font-size: 60px;
    font-weight: 800;
}

h6 {
    text-align: center;
    font-weight: 600;
}

form h2 {
    color: rgb(238, 10, 10);
    text-align: center;
}

.landing {
    background-image: url("../images/pizza-palace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.hero-content {
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.hero-content h3 {
    background-color: rgba(153, 148, 148, 0.747);
    text-align: center;
}

.hero-content h1 {
    background-color: rgb(129, 126, 126);
    text-align: center;
    letter-spacing: 5px;
    font-size: 90px;
    font-weight: 900;
    padding: 1rem;
}
